.container {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.info {
    width: calc(100% - 30px);
}

.title {
    margin-bottom: 5px;
    font-family: var(--font-family);
    line-height: 30px;
    font-weight: 500;
    font-size: 18px;
}

.price {
    font-family: var(--font-family);
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
}